body {
	background-color: black;
	font-family: Verdana, sans-serif;
	text-align: center;
}

h1 {
	color: white;
	font-size: 42px;
}

.header {
	font-size: 50px;
}

p {
	color: grey;
	font-size: 21px;
}

a {
	color: Aquamarine;
	font-size: 16px;
}

.footer {
	text-align: right;
}